#Origibally a type1 drone fighter

[core]
@global shokaku_D: I

name: phaseBomber_${shokaku_D}
displayText: Aichi
displayDescription: -"Hello?, ..............."\n-Parent carrier number: ${shokaku_D}\n[Aichi Carrier Fighter\Bomber]\n-Cool look'n Controllable UAV and Attack all nearby idiots\n-Has Phase module and Warp engine\n-Can magically disappear\n-Deployed via Mech Carrier\n-Can attack ground, air and subs, depends equiped weapon
class: CustomUnitMetadata

copyFrom: _weapun.template, SelfResource.template, ROOT:data\effects\DropBomb.ini, ROOT:data\effects\microMissile.template, ROOT:data\effects\shieldEffect.template, ROOT:data\effects\blueEx.template, ROOT:data\effects\crit.template, ROOT:data\effects\water_byHawko.template, ROOT:data\effects\groundDust.template

maxHp: 1300
price: ${Dprice}
mass: 10000
armour: 1

techLevel: 1
buildSpeed: 40s
radius: 15
softCollisionOnAll: 10
fogOfWarSightRange:15
isBio: false

energyMax: 10
#energyRegen: 0.015
energyStartingPercentage:10
energyNeedsToRechargeToFull: true

maxShield: ${shieldB}
shieldRegen: 0
startShieldAtZero: true
shieldDisplayOnlyDeflection: true

transportSlotsNeeded: 1

showInEditor:false
#isUnselectable:true
#canNotBeGivenOrdersByPlayer:true
#disableAllUnitCollisions:true

explodeOnDeathGroundCollision: true
effectOnDeathGroundCollision: CUSTOM:areaShock, CUSTOM:BoomIon
#effectOnDeath: CUSTOM:smokeTP*3, CUSTOM:smokeTPI, CUSTOM:smokeTPII*4, CUSTOM:TPwave6In, CUSTOM:smokeTPIIDead

generation_resources:energy=0.009
generation_active: if self.hasParent() and not self.isEnergyFull() and not self.hasFlag(id=7)
generation_delay: 1

showActionsWithMixedSelectionIfOtherUnitsHaveTag: shokakuDrone

borrowResourcesWhileAlive: shokakuDrone_${shokaku_D}=1

tags: shokakuDrone_${shokaku_D}, shokakuDrone
[action_gaugeW1]
#I
@define pr: 4
displayType: infoOnlyNoBox
#=====================================================================
text: Weapon Set I
description: - This weapon loadout used by T2 'Leyte Class'\n Slightly stronger, less damage to hull, Best against structure\nChance to deal critical damage\n-=Weapons=-\n[AA Unguided Rocket]: Target: Air, Dmg: ${(AArocket+(AArocket/2))}, AoE\n[High Explosive Bomb]: Target: Land, dmg:${bombLand}, AoE\n Drop range: ${range_I}, Ammo: 4-8\n120% vs structure, 50% vs hull, 110% vs shield, 5 PEN\nCrit: +120% vs structure, -50% vs hull\n Changing weapon set reduce energy by ${energyP}

#=====================================================================
isVisible: if self.hasFlag(id=${pr})
iconImage: ROOT:data\icons\ws_1.png
buildSpeed: 0s
pos: 20
[action_gaugeW2]
@copyFromSection: action_gaugeW1
@define pr: 5
text: Weapon Set II
description: - This weapon loadout used by T4 'Okhotnik Class'\n Slightly reduce damage, Best against Hull, Armored and Agile units\nMissile target acquisition time: 2s\n-=Weapons=-\n[AAM Magic Missile]: Target: Air, Dmg: ${ionMAA_Dmg}, Single Target\n[ASM Magic Missile]: Target: Land, Dmg: ${ionM_Dmg}, AoE\n Drop range: ${range_II}, Ammo: 4-8\n 120% vs hull, 50% vs structure, 25 PEN\nNote: If missile too close it only deal 100 dmg\n Changing weapon set reduce energy by ${energyP}
iconImage: ROOT:data\icons\ws_2.png
[action_gaugeW3]
@copyFromSection: action_gaugeW1
@define pr: 6
text: Weapon Set III
description: - Retrofits all bomb slots with ranged weaons, Entirely converted into aerial gunship\n Its firepower allows it to make short work of anything on the ground \n Gains ${shieldB} shield pool, if hp less than 30% automatically retreats\n-=Weapon=-\n [M137 Cannon]: Target: Surface, Dmg: ${M137shellD}, AoE: 55, Rearm time: ${M137shellDelay}s, Ammo: ${M137ammo}\n [L60 Bofors] Target: Surface, Dmg: ${L60},Rearm time: ${L60Delay}s, Burtsize: 6\n [Light MG] Target: Surface, Single target, range: ${mgRnage}\n Once M137 Cannon is depleted it automatically return to carrier\nPhase Warp only triggers when very close to the target within 100 range\n Changing weapon set reduce energy by ${energyP}
iconImage: ROOT:data\icons\ws_3.png
[action_gaugeW4]
@copyFromSection: action_gaugeW1
@define pr: 7
text: Weapon Set IV
description: - New type of heavy bomb primarily use for demolition\n Extremely stronk against structure, slow rearm time \n Bomb detonation delay: ${exDelay}s\n-=Weapon=-\n [Meteor Bomb]: Target: Land\Sub, Dmg: ${meteor_Dmg}, AoE: ${meteor_AoE}\n Drop range: ${range_IV}, Ammo: 1-2\n 200% vs structure, 100% vs hull\shield\nBetter self regen while phasing\n Changing weapon set reduce energy by ${meteor_EnergyP}
iconImage: ROOT:data\icons\meteor.png
[action_Gunship]
#I
@define pr: 15
displayType: infoOnlyNoBox
#=====================================================================
text: Pylon turn [Off]
description: Attack or AttackMove, to automatically enable Pylon turn \nFlying in a large circle around the target
#=====================================================================
isVisible: if self.hasFlag(id=${pr})
buildSpeed: 0s
pos: 20
[hiddenAction_Armed]
autoTrigger: if self.isEnergyFull() and self.hasParent(withTag='Shōkaku_${shokaku_D}') and not self.tags(includes='PDEnergyFull_${shokaku_D}')
temporarilyAddTags: PDEnergyFull_${shokaku_D}
playSoundAtUnit: ROOT:data\soundFx\interfacei_reloadD.ogg: 0.4
alsoTriggerAction: addShield
[hiddenAction_addShield]
requireConditional: if self.hasFlag(id=6)
addResources: shield=${shieldB}
[hiddenAction_Resset]
#Empty
autoTrigger: if self.isEnergyEmpty() and self.resource(type='MissilePod', greaterThan=1) and not self.hasFlag(id=31)
addResources: setFlag=31
resetCustomTimer: true
[hiddenAction_emplty]
#Empty
autoTrigger: if self.isEnergyEmpty() and not self.resource(type='MissilePod', greaterThan=1) and not self.hasFlag(id=30)
convertTo: phaseBomber_Empty_${shokaku_D}
temporarilyRemoveTags: PDEnergyFull_${shokaku_D}, gunShipModeAi
addResources: MissilePod=1
playSoundAtUnit: ROOT:data\soundFx\phase_cloak_activate.ogg: 0.5
[resource_MissilePod]
displayName:MP
hidden: true
#===================================
[hiddenAction_RearmA]
autoTrigger: if self.hasParent(withTag='weaponT_3') and self.customTimer(laterThanSeconds=1) and self.hasFlag(id=6)
addResources: energy=${ionBomb_EnergyChrg}
resetCustomTimer:true
[hiddenAction_RearmB]
autoTrigger: if self.hasParent(withTag='weaponT_4') and self.customTimer(laterThanSeconds=1) and self.hasFlag(id=7)
addResources: energy=${meteor_EnergyChrg}
resetCustomTimer:true

[hiddenAction_TriggerReturn]
autoTrigger: if self.isEnergyEmpty() and self.resource(type='MissilePod', greaterThan=1) and self.customTimer(laterThanSeconds=0.8) and not self.hasFlag(id=30)
alsoQueueAction: Retursssss
addResources: setFlag=30, unsetFlag=28-29
spawnEffects:CUSTOM:smokeTP*3, CUSTOM:smokeTPI, CUSTOM:smokeTPII*4, CUSTOM:TPwave6In, CUSTOM:YouMad
clearAllWaypoints:true
[action_Retursssss]
ai_isDisabled: true
isVisible: false
convertTo: phaseBomber_Return_${shokaku_D}
addResources: MissilePod=-2, unsetFlag=31, unsetFlag=30

buildSpeed: 0.2s
whenBuilding_cannotMove: true 

resetCustomTimer: true
clearAllWaypoints: true
playSoundAtUnit: ROOT:data\soundFx\phase_teleporter_oneshot.ogg: 0.2
#spawnEffects: CUSTOM:YouMad
#===================================

[action_abortMission]
ai_isDisabled: true
isLocked: if self.hasParent()
isActive: if self.energy(greaterThan=0)
isVisible: true
autoTrigger: if self.hasFlag(id=6) and self.customTimer(laterThanSeconds=0.8) and self.hp(lessThan=${core.maxHp*0.3}) and not self.hasParent()
text: Return
description: Warp back to parent carrier\n-Consume ${bckWarpEner} energy
 
buildSpeed: 0s

pos:1
iconImage: ROOT:data\icons\l_Return.png
iconExtraImage: ROOT:data\icons\lock.png
iconExtraIsVisible: if self.hasParent()

addResources: setFlag=30, unsetFlag=29, energy=-${core.energyMax}
spawnEffects:CUSTOM:smokeTP*3, CUSTOM:smokeTPI, CUSTOM:TPwave6In, CUSTOM:YouMad
clearAllWaypoints:true
highPriorityQueue: true
alsoQueueAction: RetursssssF_I
alsoTriggerAction: MissilePodMinus_1, MissilePodMinus_2, MissilePodMinus_3, MissilePodMinus_4
[hiddenAction_forced_return_I]
autoTrigger: if not self.hasFlag(id=30) and numberOfUnitsInTeam(greaterThan=0, withTag='PDreturn_${shokaku_D}') or self.hasFlag(id=6) and self.numberOfAttachedUnits(greaterThan=0, withTag='energyEmp') and not self.hasParent() 

addResources: setFlag=30, unsetFlag=29, energy=-${core.energyMax}
spawnEffects:CUSTOM:smokeTP*3, CUSTOM:smokeTPI, CUSTOM:TPwave6In, CUSTOM:YouMad
clearAllWaypoints:true

alsoQueueAction: RetursssssF_I
alsoTriggerAction: MissilePodMinus_1, MissilePodMinus_2, MissilePodMinus_3, MissilePodMinus_4

[hiddenAction_returnNOII=I]
autoTrigger: if not self.hasFlag(id=30) and self.hasFlag(id=29) and self.energy(greaterThan=0) and not numberOfUnitsInEnemyTeam(greaterThan=0, withinRange=500) and not self.isAttacking() and not self.hasParent() and self.customTimer(laterThanSeconds=5)
requireConditional: if (not self.hasActiveWaypoint(type='MOVE') or not self.hasActiveWaypoint(type='ATTACK') or not self.hasActiveWaypoint(type='GUARD') or not self.hasActiveWaypoint(type='ATTACKMOVE'))

addResources: setFlag=30, unsetFlag=29, energy=-${core.energyMax}
spawnEffects:CUSTOM:smokeTP*3, CUSTOM:smokeTPI, CUSTOM:TPwave6In, CUSTOM:YouMad

clearAllWaypoints: true
alsoQueueAction: RetursssssF_I
alsoTriggerAction: MissilePodMinus_1, MissilePodMinus_2, MissilePodMinus_3, MissilePodMinus_4

[hiddenAction_RetursssssF_I]
addResources: unsetFlag=28-31, energy=-${bckWarpEner}
convertTo: phaseBomber_Return_${shokaku_D}
buildSpeed: 0.2s
whenBuilding_cannotMove: true 
clearAllWaypoints: true
addWaypoint_type: loadInto
addWaypoint_prepend: true
addWaypoint_target_nearestUnit_tagged: Shōkaku_${shokaku_D} 
addWaypoint_target_nearestUnit_team: own
addWaypoint_maxTime: 15s
resetCustomTimer:true
playSoundAtUnit: ROOT:data\soundFx\phase_teleporter_oneshot.ogg: 0.2

[hiddenAction_MissilePodMinus_1]
requireConditional: if self.resource(type='MissilePod', greaterThan=0) and self.resource(type='MissilePod', lessThan=2)
addResources: MissilePod=-1
[hiddenAction_MissilePodMinus_2]
requireConditional: if self.resource(type='MissilePod', greaterThan=1) and self.resource(type='MissilePod', lessThan=4)
addResources: MissilePod=-2
[hiddenAction_MissilePodMinus_3]
requireConditional: if self.resource(type='MissilePod', greaterThan=2) and self.resource(type='MissilePod', lessThan=5)
addResources: MissilePod=-3
[hiddenAction_MissilePodMinus_4]
requireConditional: if self.resource(type='MissilePod', greaterThan=3) and self.resource(type='MissilePod', lessThan=6)
addResources: MissilePod=-4
#-------------------------------------------------------------WEAPON SET
#Created
[hiddenAction_createdSelector]
autoTriggerOnEvent: created
alsoTriggerAction: weapon_Ic, weapon_IIc, weapon_IIIc, weapon_IVc
addResources: energy=-1
[hiddenAction_weapon_Ic]
requireConditional: if not self.hasFlag(id=4) and not self.hasFlag(id=5) and not self.hasFlag(id=6) and not self.hasFlag(id=7)
addResources: setFlag=4, unsetFlag=5, unsetFlag=6, unsetFlag=7, shield=-${shieldB} 
[hiddenAction_weapon_IIc]
requireConditional: if self.hasParent(withTag='weaponT_2') and not self.hasFlag(id=5)
addResources: setFlag=5, unsetFlag=4, unsetFlag=6, unsetFlag=7, shield=-${shieldB}
[hiddenAction_weapon_IIIc]
requireConditional: if self.hasParent(withTag='weaponT_3') and not self.hasFlag(id=6)
addResources: setFlag=6, unsetFlag=4, unsetFlag=5, unsetFlag=7, shield=${shieldB}
temporarilyAddTags: gunShipModeAi
[hiddenAction_weapon_IVc]
requireConditional: if self.hasParent(withTag='weaponT_4') and not self.hasFlag(id=7)
addResources: setFlag=7, unsetFlag=4, unsetFlag=5, unsetFlag=6, shield=-${shieldB}
#Chnage weapon loding set
[hiddenAction_weapon_I]
autoTrigger: if self.hasParent(withTag='weaponT_1') and not self.hasFlag(id=4)
temporarilyRemoveTags: PDEnergyFull_${shokaku_D}
addResources: energy=-${energyP}, setFlag=4, unsetFlag=5, unsetFlag=6, unsetFlag=7, shield=-${shieldB} 
playSoundAtUnit: ROOT:data\soundFx\interfacei_reload.ogg: 0.2
temporarilyRemoveTags: gunShipModeAi
[hiddenAction_weapon_II]
@copyFromSection: hiddenAction_weapon_I
autoTrigger: if self.hasParent(withTag='weaponT_2') and not self.hasFlag(id=5)
addResources: energy=-${energyP}, setFlag=5, unsetFlag=4, unsetFlag=6, unsetFlag=7, shield=-${shieldB}
[hiddenAction_weapon_III]
@copyFromSection: hiddenAction_weapon_I
autoTrigger: if self.hasParent(withTag='weaponT_3') and not self.hasFlag(id=6)
addResources: energy=-${energyP}, setFlag=6, unsetFlag=4, unsetFlag=5, unsetFlag=7, shield=${shieldB}
temporarilyAddTags: gunShipModeAi
[hiddenAction_weapon_IV]
@copyFromSection: hiddenAction_weapon_I
autoTrigger: if self.hasParent(withTag='weaponT_4') and not self.hasFlag(id=7)
addResources: energy=-${meteor_EnergyP}, setFlag=7, unsetFlag=4, unsetFlag=5, unsetFlag=6, shield=-${shieldB}

[hiddenAction_resetTagsGS]
autoTrigger: if self.hasFlag(id=6) and not self.tags(includes='gunShipModeAi')
temporarilyAddTags: gunShipModeAi
#-------------------------------------------------------------
[action_ZipZap!]
ai_isDisabled: true
#Tp bithc!
displayType: action
isVisible: false

autoTrigger:if self.energy(greaterThan=0) and not self.hasFlag(id=6) and not self.hasActiveWaypoint(type='move') and not self.hasParent(withTag='Shōkaku_${shokaku_D}') and self.hasTakenDamage(withinSeconds=1) and self.customTimer(laterThanSeconds=5)
requireConditional: if not self.hasActiveWaypoint(type='attack')
buildSpeed:1s
fireTurretXAtGround: TeleportT
fireTurretXAtGround_withOffset: 0,100
fireTurretXAtGround_onlyOverPassableTileOf: BUILDING

#clearAllWaypoints: true
#clearActiveWaypoint: true
addWaypoint_type: attackMove
addWaypoint_prepend: true
addWaypoint_position_offsetFromSelf: 0,0
addWaypoint_maxTime: 2s

playSoundAtUnit: spark1.ogg:1
spawnEffects:CUSTOM:smokeTP*3, CUSTOM:smokeTPI, CUSTOM:smokeTPII*4, CUSTOM:TPwave6In
resetCustomTimer: true
#addResources: unsetFlag=0, energy=-2.5
addResources: unsetFlag=0, energy=-0.1
convertTo: phaseBomber_Empty_${shokaku_D}
spawnUnits: defl_2
[hiddenAction_Unset]
autoTrigger: if self.hasFlag(id=0) and not self.isAttacking()
addResources: unsetFlag=0

[hiddenAction_ScatterIfNotattacking]
isActive:true
text: Scatter and Attack

#autoTrigger: if not self.isAttacking() and not self.hasActiveWaypoint(type='loadInto') and not self.hasActiveWaypoint(type='Attack') and not self.hasActiveWaypoint(type='move') and not self.hasActiveWaypoint(type='guard') and self.customTimer(laterThanSeconds=5) and self.energy(greaterThan=0) and not self.hasParent()
#autoTrigger: if not self.isAttacking() and self.customTimer(laterThanSeconds=2) and self.resource(type="TypeZSelector",greaterThan=0) and self.resource(type="TypeZAttack",greaterThan=0) 
requireConditional: if self.hasFlag(id=29)

clearAllWaypoints:true
buildSpeed:0
addWaypoint_type: attackMove
addWaypoint_prepend: true
addWaypoint_position_randomOffsetFromSelf: 500,500
addWaypoint_maxTime: 20s
resetCustomTimer:true

[hiddenAction_testWyapoint]
clearAllWaypoints:true
addWaypoint_type: attackMove
addWaypoint_prepend: true
addWaypoint_position_randomOffsetFromSelf: 500,500
#addWaypoint_maxTime: 20s
resetCustomTimer: true
[hiddenAction_testWyapoint2]
addWaypoint_prepend: true
addWaypoint_type: MOVE
addWaypoint_position_relativeOffsetFromSelf: 0,150
addWaypoint_maxTime: 2s
#========================================Gunship mode
[hiddenAction_testWyapointGunship_A]
addWaypoint_prepend: true
addWaypoint_type: MOVE
addWaypoint_position_relativeOffsetFromSelf: 300,200
addWaypoint_maxTime: 1.5s
alsoQueueAction: testWyapointGunship_B
[hiddenAction_controledByPlayer]
autoTriggerOnEvent: newWaypointGivenByPlayer
requireConditional: if not self.hasFlag(id=15)
addResources: setFlag=15
[hiddenAction_controledByPlayerNO]
autoTriggerOnEvent: newWaypointGivenByPlayer
requireConditional: if self.hasActiveWaypoint(type='attack') or self.hasActiveWaypoint(type='attackmove') and self.hasFlag(id=15)
addResources: unsetFlag=15
[hiddenAction_circleA]
autoTrigger: if self.hasFlag(id=6) and not self.hasFlag(id=15) and self.numberOfAttachedUnits(greaterThan=0, withTag='GScircle') and not self.queueSize(greaterThan=0) and (not self.hasActiveWaypoint(type='move') or not self.hasActiveWaypoint(type='attack'))
alsoQueueAction: testWyapointGunship_B
[hiddenAction_testWyapointGunship_B]
@copyFromSection: hiddenAction_testWyapointGunship_A
requireConditional: if self.numberOfAttachedUnits(greaterThan=0, withTag='GScircle') and self.hasFlag(id=6) and not self.hasFlag(id=15)
addWaypoint_position_relativeOffsetFromSelf: -46.5,200
addWaypoint_maxTime: 0.6s
clearActiveWaypoint: true
buildSpeed: 0.5s
alsoQueueAction: testWyapointGunship_B
#showQuickWarLogToPlayer: circling

[hiddenAction_testWyapointGunship_MoveForward]
addWaypoint_prepend: true
addWaypoint_type: MOVE
addWaypoint_position_relativeOffsetFromSelf: 0,300
addWaypoint_maxTime: 3s

#======================================== END
[hiddenAction_testWyapoint3_warp]
requireConditional: if not self.hasActiveWaypoint(type='move') and not self.hasParent(withTag='Shōkaku_${shokaku_D}') and self.customTimer(laterThanSeconds=1)
fireTurretXAtGround: TeleportT
fireTurretXAtGround_withOffset: 0,100
fireTurretXAtGround_onlyOverPassableTileOf: BUILDING
spawnEffects:CUSTOM:smokeTP*3, CUSTOM:smokeTPI, CUSTOM:smokeTPII*4, CUSTOM:TPwave6In
resetCustomTimer: true
addResources: unsetFlag=0, energy=-0.1
convertTo: phaseBomber_Empty_${shokaku_D}
[hiddenAction_DEST_A]
#//This
autoTrigger: if not self.hasUnitInTeam(withTag='Shōkaku_${shokaku_D}')
addResources:hp=-9999
#spawnEffects:CUSTOM:smokeTP*3, CUSTOM:smokeTPI, CUSTOM:smokeTPII*4, CUSTOM:TPwave6In, CUSTOM:smokeTPIIDead
[hiddenAction_DEST_B]
autoTrigger: if self.hasUnitInTeam(withTag='deleteDrone_${shokaku_D}') and not self.hasParent(withTag='Shōkaku_${shokaku_D}')
addResources:hp=-9999, credits=${Dprice/2}
playSoundAtUnit: ROOT:data\soundFx\impact_Critical_Hit.ogg
[hiddenAction_destroyed]
autoTriggerOnEvent: destroyed
spawnEffects:CUSTOM:smokeTP*3, CUSTOM:smokeTPI, CUSTOM:smokeTPII*4, CUSTOM:TPwave6In, CUSTOM:smokeTPIIDead



[hiddenAction_PlayAnim]
autoTrigger: if not self.hasParent() and not self.hasFlag(id=28) and self.isEnergyFull()
addResources: setFlag=28
alsoQueueAction: Unfufufu
playSoundAtUnit: ROOT:data\soundFx\unit_droneLaunch.ogg: 0.4
[action_Unfufufu]
isVisible: false
isActive: true
buildSpeed: 0.7s
text: Unfurl
whenBuilding_playAnimation: Unfurl
#whenBuilding_temporarilyConvertTo: drone_${leyteC}_SHORT
addResources: setFlag=29


#alsoTriggerAction: NotFollowingOrdersA
#----------------------------------------------
addWaypoint_prepend: true
addWaypoint_type: MOVE
addWaypoint_position_relativeOffsetFromSelf: 0,100
addWaypoint_maxTime: 1s
[action_Unfufufuww]
#isVisible: if self.hasFlag(id=29)
isVisible: false
isActive: true
buildSpeed: 0s
text: furl
#whenBuilding_playAnimation: Unfurl
addResources: unsetFlag=29
[animation_Unfurl]

#wing
arm1_0.1s: {x:-3, y:-2, dir:0}
arm1_0.3s: {x:-3, y:-2, dir:0}
arm1_0.68s: {x:-2, y:-5, dir:60}
arm1_0.7s: {x:-2, y:-5, dir:60}

arm2_0.1s: {x:3, y:-2, dir:0}
arm2_0.3s: {x:3, y:-2, dir:0}
arm2_0.68s: {x:2, y:-5, dir:-60}
arm2_0.7s: {x:2, y:-5, dir:-60}


#eNGINE
arm3_0s: {x:-3, y:0}
arm3_0.58s: {x:-3, y:0}
arm3_0.6s: {x:-5, y:-5}

arm4_0s: {x:3, y:0}
arm4_0.58s: {x:3, y:0}
arm4_0.6s: {x:5, y:-5}

#pHASE
arm5_0s: {x:0, y:0, dir:0}
arm5_0.47s: {x:0, y:-5, dir:0}
arm5_0.58s: {x:0, y:-5, dir:0}
arm5_0.7s: {x:3, y:-5, dir:30}

arm6_0s: {x:0, y:0, dir:0}
arm6_0.47s: {x:0, y:-5, dir:0}
arm6_0.58s: {x:0, y:-5, dir:0}
arm6_0.7s: {x:-3, y:-5, dir:-30}

#COCK
arm7_0s: {x:0, y:0, dir:0}
arm7_0.47s: {x:0, y:-2, dir:0}
arm7_0.5s: {x:0, y:-2, dir:0}
[arm_1]
#Wing
@define part: phaseBomber_wingL
x:2
y:5
hidden: if self.hasFlag(id=29)
image_end: ${part}.png
image_end_shadow: SHADOW:${part}.png
image_end_teamColors: true
drawOverBody: true

drawDirOffset: -60
[arm_2]
@copyFromSection: arm_1
@define part: phaseBomber_wingR

x:-2
y:5
drawDirOffset: 60
[arm_3]
@copyFromSection: arm_1
@define part: phaseBomber_engineL

x:5
y:5
drawDirOffset: 0
[arm_4]
@copyFromSection: arm_1
@define part: phaseBomber_engineR

x:-5
y:5
drawDirOffset: 0
[arm_5]
#drawDirOffset: 40
@copyFromSection: arm_1
@define part: phaseBomber_phaseModuleL

x:-3
y:5
drawDirOffset: -30
#rotateSpeed: 3
[arm_6]
#drawDirOffset: -40
@copyFromSection: arm_1
@define part: phaseBomber_phaseModuleR

x:3
y:5
drawDirOffset: 30
#rotateSpeed: 3
[arm_7]
@copyFromSection: arm_1
@define part: phaseBomber_cockpit

x:0
y:2
drawDirOffset: 0
[arm_8]
@copyFromSection: arm_1
@define part: phaseBomber

x:0
y:0
drawDirOffset: 0
hidden: if not self.hasFlag(id=29)
[attachment_gunship]
x: 0
y: 0
#isVisible:false

idleDir:0
lockRotation:true
onCreateSpawnUnitOf: aigunShip
canBeAttackedAndDamaged: false
addTransportedUnits: false
isUnselectable: true
#lockLegMovement:false
#setDrawLayerOnTop: true
canAttack:true
keepAliveWhenParentDies:false
prioritizeParentsMainTarget:true
[graphics]
total_frames: 1
imageScale: 0.75
image:  drone_mainA.png
image_wreak: dead.png
image_turret: NONE

#showHealthBar:false
#showEnergyBar:false

image_shadow: AUTO
shadowOffsetX:0
shadowOffsetY:0
showShieldBar: true

dustEffect: false

lock_body_rotation_with_main_turret: false
icon_zoomed_out: ROOT:data\Icon_Units\unit_icon_drone.png

showQueueBar: false
[attack]

isMelee: true
meleeEngangementDistance: ${range-1600}

canAttack: true
canAttackFlyingUnits: if not self.hasFlag(id=0) and not self.hasFlag(id=7) and not self.hasFlag(id=6)
canAttackLandUnits:    if not self.hasFlag(id=0)
canAttackUnderwaterUnits:  if not self.hasFlag(id=0) and self.hasFlag(id=7)

shootDelay: 0.1s

#attackMovement: bomber
isFixedFiring: true
turretRotateWithBody: true
#turretMultiTargeting: true

maxAttackRange: ${range+150}
[turret_1]
#dummy
invisible: true
x: 0
y: 0
idleDir:0
limitingAngle: 0
idleDir:0
projectile: Dummy
size: 10
turnSpeed: 3

turnSpeedAcceleration: 1

canShoot: false
[turret_2]
#dummy
x: 0
y: 0
invisible: true
attachedTo: 1
slave: false
projectile: Dummy
size: 5
shoot_sound:NONE
shoot_sound_vol:0
shoot_flame: NONE
canShoot: true
canAttackCondition: if not self.hasParent()

showRangeUIGuide: false
[turret_Front]
#dummy_damn-mie warp
x: 0
y: 0
idleDir:180
#limitingAngle:110

#--------------
attachedTo: 1
slave: false
#--------------

invisible: true
projectile: dummy
size: 5

warmup: 15
delay: 5s

canAttackFlyingUnits: if not self.hasParent(withTag='Shōkaku_${shokaku_D}')
canAttackLandUnits:   if not self.hasParent(withTag='Shōkaku_${shokaku_D}')
canAttackUnderwaterUnits: false

resourceUsage: setFlag=0

#attachedTo: 1
#slave: true
turnSpeed: 100
turnSpeedAcceleration: 100
shoot_sound:NONE
shoot_sound_vol:0
shoot_flame: NONE

limitingRange: 180

showRangeUIGuide: false
#canAttackCondition: if self.hasTakenDamage(withinSeconds=0.5)
[turret_lASER]
#CLS
invisible: true
#image:     ROOT:data\graphics\weapons\carrier_cwis_Larg.png
x: 0
y: 5
idleDir:0
#limitingAngle:25

#--------------
attachedTo: 1
slave: false
#--------------

delay: 10

size: 7
turnSpeed: 20
turnSpeedAcceleration:5

shoot_sound:plasma_fire
shoot_sound_vol:0.06
shoot_light:#ff0000

canAttackFlyingUnits: if not self.hasParent(withTag='Shōkaku_${shokaku_D}')
canAttackLandUnits:   false
canAttackUnderwaterUnits: false
projectile: Cwis

recoilOffset: -0.5
recoilOutTime: 2
recoilReturnTime: 4

limitingRange: 100
showRangeUIGuide: false
[turret_MoveMe]
#Fix bomber too close to the target and connot fire
@copyFromSection: turret_lASER
projectile: dummy

canAttackFlyingUnits: if not self.hasParent(withTag='Shōkaku_${shokaku_D}')
canAttackLandUnits:   if not self.hasParent(withTag='Shōkaku_${shokaku_D}')
canAttackCondition:   if not self.hasActiveWaypoint(type='MOVE') and self.customTimer(laterThanSeconds=5)

delay: 3s

#----------------------------------
#onShoot_triggerActions: testWyapoint2
onShoot_triggerActions: testWyapoint3_warp
#----------------------------------
[turret_MoveMeGunship]
@copyFromSection: turret_MoveMe
delay: 1s
canAttackCondition:   if self.hasFlag(id=6) and not self.hasActiveWaypoint(type='MOVE') and self.customTimer(laterThanSeconds=5)
[turret_MoveMeGunshipForward]
@copyFromSection: turret_MoveMe
delay: 1s
canAttackCondition: if self.hasFlag(id=6) and not self.hasActiveWaypoint(type='MOVE')
onShoot_triggerActions: testWyapointGunship_MoveForward
#============================================Weapon loading set 1
[turret_UnguidedRocket_I]
#Unguided Rocket x4
#Air
x: 10
y: 8
idleDir:0
limitingAngle:25

#--------------
attachedTo: 1
slave: false
#--------------

shoot_sound:ROOT:data\soundFx\weapon_MLaunch.ogg
shoot_sound_vol:0.3
shoot_flame:small
shoot_light:#FFEECCCC

delay:2s
warmup: 0

canAttackFlyingUnits: if not self.hasParent(withTag='Shōkaku_${shokaku_D}') and self.hasFlag(id=4)
canAttackLandUnits:   false
canAttackUnderwaterUnits: false
canAttackCondition: if self.hasFlag(id=4)

projectile: multiP_I
resourceUsage: energy=10

limitingRange: ${range_I}
turnSpeed: 80

#----------------------------------
onShoot_triggerActions: testWyapoint
#----------------------------------
showRangeUIGuide: false
[turret_Bomb_I]
#Bombe
#Ground
x: 10
y: 8
idleDir:0
limitingAngle:25

#--------------
attachedTo: 1
slave: false
#--------------

shoot_sound:ROOT:data\soundFx\weapon_Bomb+3dd.ogg
shoot_sound_vol:0.2

delay:2s
warmup: 0

canAttackFlyingUnits: false
canAttackLandUnits:   if not self.hasParent(withTag='Shōkaku_${shokaku_D}') and self.hasFlag(id=4)
canAttackUnderwaterUnits: false
canAttackCondition: if self.hasFlag(id=4)

projectile: multiP_II
#projectile: sideRockStartMod2

resourceUsage: energy=10

limitingRange: ${range_I}
turnSpeed: 80
#----------------------------------
onShoot_triggerActions: testWyapoint
#----------------------------------
#============================================Weapon loading set 2
showRangeUIGuide: false
[turret_IonMissile_AA_I]
#Unguided Rocket x4
#Air
x: 10
y: 8
idleDir:0
limitingAngle:25

#--------------
attachedTo: 1
slave: false
#--------------

shoot_sound:ROOT:data\soundFx\weapon_MLaunch.ogg
shoot_sound_vol:0.3
shoot_flame:small
shoot_light:#FFEECCCC

delay:2s
warmup: 0

canAttackFlyingUnits: if not self.hasParent(withTag='Shōkaku_${shokaku_D}') and self.hasFlag(id=5)
canAttackLandUnits:   false
canAttackUnderwaterUnits: false
canAttackCondition: if self.hasFlag(id=5)

projectile: multiP_III
resourceUsage: energy=10

limitingRange: ${range_II}
turnSpeed: 80
#----------------------------------
onShoot_triggerActions: testWyapoint
#----------------------------------
showRangeUIGuide: false
[turret_IonMissile_Bomb_I]
#Bombe
#Ground
x: 10
y: 8
idleDir:0
limitingAngle:25

#--------------
attachedTo: 1
slave: false
#--------------

shoot_sound:ROOT:data\soundFx\weapon_MLaunch.ogg
shoot_sound_vol:0.2

delay:2s
warmup: 0

canAttackFlyingUnits: false
canAttackLandUnits:   if not self.hasParent(withTag='Shōkaku_${shokaku_D}') and self.hasFlag(id=5)
canAttackUnderwaterUnits: false
canAttackCondition: if self.hasFlag(id=5)

projectile: multiP_IV

resourceUsage: energy=10

limitingRange: ${range_II}
turnSpeed: 80
#----------------------------------
onShoot_triggerActions: testWyapoint
#----------------------------------
showRangeUIGuide: false
#============================================Weapon loading set 3
[turret_IONBomb]
#Heavy Bomb
#Ground
x: 10
y: 8
idleDir:0
limitingAngle:25

#--------------
attachedTo: 1
slave: false
#--------------

shoot_sound:ROOT:data\soundFx\weapon_smallGun2.ogg
shoot_sound_vol:0.3

delay:2s
warmup: 0

canAttackFlyingUnits: false
canAttackLandUnits:   if not self.hasParent(withTag='Shōkaku_${shokaku_D}') and self.hasFlag(id=6)
canAttackUnderwaterUnits: false
canAttackCondition: if self.hasFlag(id=6)

projectile: dummy

#resourceUsage: energy=10

limitingRange: ${range_III+50}
turnSpeed: 80
#----------------------------------
onShoot_triggerActions: testWyapointGunship_A
#----------------------------------
#showRangeUIGuide: false
#============================================Weapon loading set 4
[turret_Heavy_Bomb]
#Heavy Bomb
#Ground
x: 10
y: 8
idleDir:0
limitingAngle:25

#--------------
attachedTo: 1
slave: false
#--------------

shoot_sound:ROOT:data\soundFx\weapon_Bomb+3dd.ogg
shoot_sound_vol:0.3

delay:2s
warmup: 0

canAttackFlyingUnits: false
canAttackLandUnits:   if not self.hasParent(withTag='Shōkaku_${shokaku_D}') and self.hasFlag(id=7)
canAttackUnderwaterUnits: if not self.hasParent(withTag='Shōkaku_${shokaku_D}') and self.hasFlag(id=7)
canAttackCondition: if self.hasFlag(id=7)

projectile: HeavyBomb

resourceUsage: energy=10

limitingRange: ${range_IV}
turnSpeed: 80
#----------------------------------
onShoot_triggerActions: testWyapoint
#----------------------------------
showRangeUIGuide: false
[turret_damn-mie]
#dummy
x: 0
y: 0
idleDir:0
warmup: 0
invisible: true
projectile: dummy

#--------------
attachedTo: 1
slave: false
#--------------

size: 5

#image: ROOT:data\graphics\weapons\carrier_cwis_Larg.png

canAttackFlyingUnits: if self.hasParent(withTag='Shōkaku_${shokaku_D}')
canAttackLandUnits:   false
canAttackUnderwaterUnits: false

delay: 3s
#attachedTo: 1
#slave: true
turnSpeed: 100
turnSpeedAcceleration: 50

[turret_TeleportT]
#
x:0
y:0

#--------------
attachedTo: 1
slave: false
#--------------

projectile: dummyTP
shoot_sound: NONE
shoot_sound_vol: 0
shoot_flame: NONE
canShoot:false

limitingRange:200
#limitingMinRange: 180
[projectile_multiP_I]
#Unguided
@copyFromSection: projectile_dummy
spawnProjectilesOnEndOfLife: 1sa(xOffsetRelative=10, yOffsetRelative=8), 1sa(xOffsetRelative=-10, yOffsetRelative=8), 1sa(xOffsetRelative=20, yOffsetRelative=10), 1sa(xOffsetRelative=-20, yOffsetRelative=10)
[projectile_multiP_II]
#HE bomb
@copyFromSection: projectile_dummy
spawnProjectilesOnEndOfLife: bomb(xOffsetRelative=10, yOffsetRelative=8), bomb(xOffsetRelative=-10, yOffsetRelative=8), bomb(xOffsetRelative=20, yOffsetRelative=10), bomb(xOffsetRelative=-20, yOffsetRelative=10)
[projectile_multiP_III]
#AAM magic missile
@copyFromSection: projectile_dummy
spawnProjectilesOnEndOfLife: sideRockStartAA(xOffsetRelative=10, yOffsetRelative=8), sideRockStartAA(xOffsetRelative=-10, yOffsetRelative=8), sideRockStartAA(xOffsetRelative=20, yOffsetRelative=10), sideRockStartAA(xOffsetRelative=-20, yOffsetRelative=10)
[projectile_multiP_IV]
#ASM magic missile
@copyFromSection: projectile_dummy
spawnProjectilesOnEndOfLife: sideRockStartMod2(xOffsetRelative=10, yOffsetRelative=8), sideRockStartMod2(xOffsetRelative=-10, yOffsetRelative=8), sideRockStartMod2(xOffsetRelative=20, yOffsetRelative=10), sideRockStartMod2(xOffsetRelative=-20, yOffsetRelative=10)


[projectile_bomb]
#bomb
#cannot use directDamage with targetGround
#directDamage: 195
life: 350
speed: 0.1
targetSpeed: 2
#color: #000000
largeHitEffect: true

targetGround: true
targetGroundSpread: 30
areaDamage: ${bombLand}
areaRadius: 75

image: boom.png
drawSize: 0.8

#---------------------------------------
buildingDamageMultiplier: 1.5
shieldDamageMultiplier: 1.1
hullDamageMultiplier: 0.5
armourIgnoreAmount: 5
#----------------------------------------
areaHitUnderwaterAlways:true

trailEffect: CUSTOM:trail
trailEffectRate: 4
explodeEffect: CUSTOM:projectileWaterDust, CUSTOM:projectileWaterSplash*5,CUSTOM:muzzlescorchmark, CUSTOM:Boom, CUSTOM:projectileFlashSmol
#for laser defence
deflectionPower: 3

spawnProjectilesOnExplode: bombCrit(spawnChance=0.1)
[projectile_bombCrit]
@copyFromSection: projectile_bomb
spawnProjectilesOnExplode: NONE

life: 0
explodeOnEndOfLife: true
areaDamage: ${bombLand}
areaRadius: 50

#---------------------------------------
buildingDamageMultiplier: 1.5
hullDamageMultiplier: 0.5
shieldDamageMultiplier: 0
shieldDefectionMultiplier: 0
armourIgnoreAmount: 50
#----------------------------------------
explodeEffect: CUSTOM:projectileWaterDust, CUSTOM:projectileWaterSplash*5,CUSTOM:muzzlescorchmark, CUSTOM:Boom, CUSTOM:Critical, CUSTOM:projectileFlash
trailEffect: false
[projectile_bomb2]
#bomb anti-sub

directDamage: 0
areaDamage: ${bombDC}
areaRadius: 75

life: 450
speed: 0.1
targetSpeed: 0.9

targetGround: true
targetGroundSpread: 20

areaHitUnderwaterAlways:true

hullDamageMultiplier: 0.5

drawSize: 0.7
color: #000000
trailEffect: false
largeHitEffect: false
image: ROOT:data\images\casing.png
trailEffect: CUSTOM:trail2
trailEffectRate: 4
explodeEffect: CUSTOM:projectileWaterDust, CUSTOM:projectileWaterSplash*5,CUSTOM:muzzlescorchmark, CUSTOM:Boom

#for laser defence
deflectionPower: 3
[projectile_MicroMissile_StartI]
@copyFromSection: projectile_MicroMissile
life: 0
speed: 1
turnSpeed: 0
spawnProjectilesOnEndOfLife: MicroMissile(offsetDir=90)

explodeEffect: NONE
[projectile_MicroMissile_StartII]
@copyFromSection: projectile_MicroMissile
life: 0
speed: 0.1
turnSpeed: 0
spawnProjectilesOnEndOfLife: MicroMissile(offsetDir=-90)

explodeEffect: NONE
[projectile_MicroMissile]
#missile
directDamage: ${microMissile}
areaDamage:15
areaRadius: 40


#======================
life: 600
#speed: 10
#targetSpeed: 1.5
speed: 5
targetSpeed: 2
targetSpeedAcceleration:1
#=====================--
autoTargetingOnDeadTargetRange: 300
autoTargetingOnDeadTargetLead: 300

retargetingInFlight: true
retargetingInFlightSearchDelay: 10
retargetingInFlightSearchRange: 20
retargetingInFlightSearchLead: 20


buildingDamageMultiplier: 0.5
shieldDamageMultiplier: 0
shieldDefectionMultiplier: 0
#=======================
#color: #b003c0
#image: sweetM2.png
drawSize: 0.8

trailEffect: CUSTOM:trail2
trailEffectRate: 1
largeHitEffect: false

#ballistic: true
#ballistic_delaymove_height:25
#ballistic_height: 25

lightSize:0.2
lightColor:#7ccfff
shieldDamageMultiplier: 5
#shieldDefectionMultiplier: 0
#-==========================
deflectionPower:1
explodeOnEndOfLife:true
autoTargetingOnDeadTarget:true
explodeEffect: CUSTOM:blue_explosion
hitSound: true

#===================
turnSpeed: 2
wobbleAmplitude: 1.5
wobbleFrequency: 2.0s

#pushForce: 2
#pushVelocity: 1
#===================
spawnProjectilesOnExplode: MicroMissileSpawn(spawnChance=0.15)
[projectile_MicroMissileSpawn]
@copyFromSection: projectile_MicroMissile
spawnProjectilesOnExplode: NONE

[projectile_1sa]
#AA
spawnProjectilesOnEndOfLife: MicroMissile*2(offsetRandomDir=90)

directDamage: ${AArocket}
areaDamage: ${AArocket/2}
areaRadius: 40
life: 0
speed: 4
image: AA_Rocket.png
drawSize: 1.2
#turnSpeed: 0.05
turnSpeed: 0.4
#targetSpeed: 5

#------------------------------
shieldDamageMultiplier: 0
shieldDefectionMultiplier: 0
buildingDamageMultiplier: 0.4
#armourIgnoreAmount: 25
#------------------------------
effectOnCreate: CUSTOM:smoke
trailEffect: CUSTOM:trail, CUSTOM:projectileTrailRed, CUSTOM:projectileTrailOrange
trailEffectRate: 1

color: #e80808 
lightColor: #e80808
lightSize: 0.4

spawnProjectilesOnEndOfLife: 1sa2(offsetRandomDir=5, yOffsetRelative=0) 
deflectionPower:1
targetGround_includeTargetHeight: true
retargetingInFlight: true


[projectile_1sa2]
@copyFromSection: projectile_1sa 
spawnProjectilesOnEndOfLife: MicroMissile*2(offsetRandomDir=90)
life: 100
explodeOnEndOfLife: true
explodeEffect: CUSTOM:FlakBoom

#wobbleAmplitude: 1
#wobbleFrequency: 1s

[projectile_dummy]
#dummy
directDamage: 0
life: 0
speed: 0
drawSize: 0
color: #46ebff
lightColor: #46ebff
lightSize: 0
[projectile_dummyTP]
#dummy
directDamage: 0
teleportSource: true
targetGround:true
largeHitEffect: false
explodeOnEndOfLife: true
life: 100
speed: 100
drawSize: 0
color: #46ebff
lightColor: #46ebff
lightSize: 0
explodeEffect:CUSTOM:TPwave5, CUSTOM:TPwave6


[projectile_missileAA]
#missile

directDamage: 20
areaDamage: 110
areaRadius: 60
areaExpandTime:0

life: 2500
speed: 0.1
targetSpeed: 35
trailEffect: true
largeHitEffect: true

targetGround: true
targetGroundSpread: 30
areaHitAirAndLandAtSameTime: true
explodeOnEndOfLife: true

color:  #02baff
lightColor: #02baff
lightSize: 0.2
frame: 4
buildingDamageMultiplier: 1.2
shieldDamageMultiplier: 1.5
drawSize:1
[projectile_Cwis]
#lASER
directDamage: 22
drawSize: 1
instant:true
laserEffect: true
life: 8
lightColor: #ff0000
lightSize: 0.3
shieldDamageMultiplier: 0


#==================Ion Missile
[projectile_sideRockStartMod2]
@copyFromSection: projectile_sideRockMod2
life: 0
spawnProjectilesOnEndOfLife:  sideRockMod2(offsetDir=0)
turnSpeed:0
trailEffect: true
color: #48ffee
lightColor: #48ffee
lightSize: 0.6
#explodeEffect: NONE
[projectile_sideRockMod2]
#torpedo
directDamage: 100
life: 120
speed: 0.3

drawSize: 1
#color: #1E1E96
largeHitEffect: true

deflectionPower: -1

image: okhotnik_missile.png
#wobbleAmplitude: 0.4
#wobbleFrequency: 0.8s

turnSpeed:0.4

#startingTurnSpeed:1
#targetTurnSpeed:3

trailEffect: CUSTOM:trailMod2, CUSTOM:BlueLight
trailEffectRate:1.5

lightColor: #48ffee
color: #48ffee
lightSize:1

#spawnProjectilesOnEndOfLife: torpedo_split(offsetDir=90), torpedo_split(offsetDir=-90), torpedo_split(offsetDir=00)
#explodeEffect: CUSTOM:Shooov
spawnProjectilesOnEndOfLife: sideRockLockedMod2
autoTargetingOnDeadTarget: true
[projectile_sideRockLockedMod2]
@copyFromSection: projectile_sideRockMod2
life: 500
speed: 1
targetSpeed: 8
targetSpeedAcceleration: 0.5
turnSpeed:8
spawnProjectilesOnEndOfLife: NONE
targetGround: true
targetGroundSpread:20
areaDamage: ${ionM_Dmg}
directDamage: 0

#-----------------------------
buildingDamageMultiplier: 0.4
hullDamageMultiplier: 1.2
armourIgnoreAmount: 25
#-----------------------------

areaRadius: 50
deflectionPower: 1

trailEffect: CUSTOM:trailMod2, CUSTOM:BlueLight
trailEffectRate:1.5


shouldRevealFog: true
areaHitUnderwaterAlways: false

effectOnCreate: CUSTOM:Shooov, CUSTOM:ShooovTrail*2, CUSTOM:ShooovTrail3
explodeEffect:CUSTOM:waterSplash, CUSTOM:projectileWaterDust, CUSTOM:projectileWaterSplash*5,CUSTOM:muzzlescorchmark, CUSTOM:BoomIon, CUSTOM:areaShock
autoTargetingOnDeadTarget: false

[projectile_sideRockStartAA]
@copyFromSection: projectile_sideRockAA
life: 0
spawnProjectilesOnEndOfLife:  sideRockAA(offsetDir=0)
turnSpeed:0
trailEffect: true
color: #48ffee
lightColor: #48ffee
lightSize: 0.6
#explodeEffect: NONE
[projectile_sideRockAA]
#torpedo
directDamage: 100
life: 120
speed: 0.3

drawSize: 1
#color: #1E1E96
largeHitEffect: true

deflectionPower: -1

image: okhotnik_missile.png
#wobbleAmplitude: 0.4
#wobbleFrequency: 0.8s

turnSpeed:0.2

#startingTurnSpeed:1
#targetTurnSpeed:3

trailEffect: CUSTOM:trailMod2, CUSTOM:BlueLight
trailEffectRate:1.5

lightColor: #48ffee
color: #48ffee
lightSize:1

#spawnProjectilesOnEndOfLife: torpedo_split(offsetDir=90), torpedo_split(offsetDir=-90), torpedo_split(offsetDir=00)
#explodeEffect: CUSTOM:Shooov
spawnProjectilesOnEndOfLife: sideRockLockedAA
autoTargetingOnDeadTarget: true
[projectile_sideRockLockedAA]
@copyFromSection: projectile_sideRockAA
life: 500
speed: 1

directDamage:  ${ionMAA_Dmg}

targetSpeed: 10
targetSpeedAcceleration: 0.5
turnSpeed:8
spawnProjectilesOnEndOfLife: NONE

deflectionPower: 1

trailEffect: CUSTOM:trailMod2, CUSTOM:BlueLight
trailEffectRate:1.5


shouldRevealFog: true

effectOnCreate: CUSTOM:Shooov, CUSTOM:ShooovTrail*2, CUSTOM:ShooovTrail3
explodeEffect: CUSTOM:Boom, CUSTOM:areaShock
#==================Ion Missile END
[projectile_HeavyBomb]
#bomb
life: 350
speed: 0.01
targetSpeed: 2

drawSize: 0.75
image: ROOT:data\images\projectile_5.png

#color: #000000
trailEffect: CUSTOM:HbOmbTrail
largeHitEffect: true

targetGround: true

areaDamage: 0
areaRadius: 0

#for laser defence
deflectionPower: 5
buildingDamageMultiplier: 2

explodeEffect: CUSTOM:Boom, CUSTOM:projectileWaterDust, CUSTOM:projectileWaterSplash*5,CUSTOM:muzzlescorchmark, CUSTOM:Boom, CUSTOM:projectileFlashSmol
#effectOnCreate: CUSTOM:HbOmbTrail

spawnUnit: MeteorB
#lightColor: #ffe92b
#lightSize: 0.4

[projectile_ionB]
#torpedo
directDamage: 0
areaDamage: 0
areaRadius: 40


life: 200
speed: 3
image: ROOT:data\images\Plasma_projectile.png
drawSize: 0.6

targetGround: true
targetGroundSpread: 20

trailEffect: CUSTOM:trailss, CUSTOM:BlueLight
trailEffectRate: 1

color: #00f4ff
lightColor: #00f4ff
lightSize: 0.8

deflectionPower: 5

effectOnCreate: CUSTOM:Shooov, CUSTOM:ShooovTrail*2, CUSTOM:ShooovTrail3
explodeEffect: CUSTOM:Boom

spawnUnit: ionB_s
[effect_trailss]
life: 60
priority:verylow
image: ROOT:data\images\torpTrail.png
attachedToUnit: false
drawUnderUnits: false
alpha:0.5
fadeOut: true
scaleFrom: 1.5
scaleTo: 0.2
atmospheric: true
xOffsetRelative:0
yOffsetRelative:-9

color: #00f4ff
teamColorRatio: 0
[effect_smokeTP]
xOffsetRelative:0
yOffsetRelative:0
attachedToUnit: false
life: 100
alpha: 1.5
scaleFrom:1.3
scaleTo: 0.5
#physics: true
xSpeedRelativeRandom: 0.1
ySpeedRelativeRandom: 0.1
hSpeed: 0.1
image: phaseBomber_phaseMode_emission.png
priority: critical
drawUnderUnits:false
atmospheric:true
delayedStartTimer: 0
[effect_smokeTPI]
xOffsetRelative:0
yOffsetRelative:0
attachedToUnit: false
life: 50
alpha: 1.5
scaleFrom:1.3
scaleTo: 0.75
#physics: true
xSpeedRelativeRandom: 0.1
ySpeedRelativeRandom: 0.1
hSpeed: 0.1
image: phaseBomber_phaseMode_emission.png
priority: critical
drawUnderUnits:false
atmospheric:true
delayedStartTimer: 0
[effect_smokeTPII]
xOffsetRelative:0
yOffsetRelative:0
attachedToUnit: true
life: 50
alpha: 1
scaleFrom: 0.8
scaleTo: 0.8
#physics: true
xSpeedRelativeRandom: 0.1
ySpeedRelativeRandom: 0.1
hSpeed: 0.1
image: phaseBomber_phaseMode_emission.png
priority: critical
drawUnderUnits:false
atmospheric:false
delayedStartTimer: 0
[effect_smokeTPIIDead]
@copyFromSection: effect_smokeTPII
life: 250
alpha: 2
[effect_TPwave5]
life: 10
priority: critical
xOffsetRelative: 0
yOffsetRelative: 0
hOffset: 0
dirOffsetRandom:180
dirSpeed: 1
scaleFrom: 0.01
scaleTo: 0.3
fadeInTime: 2
fadeOut: true
attachedToUnit: false
image: ROOT:data\images\nia_nanite_shroud_base.png
drawUnderUnits: true
alpha:1
[effect_TPwave6]
life: 40
priority: critical
xOffsetRelative: 0
yOffsetRelative: 0
hOffset: 0
dirOffsetRandom:180
dirSpeed: 1
scaleFrom: 0.01
scaleTo: 0.4
fadeInTime: 2
fadeOut: true
attachedToUnit: false
image: ROOT:data\images\chargesparks.png
drawUnderUnits: true
alpha:1
[effect_TPwave6In]
life: 40
priority: critical
xOffsetRelative: 0
yOffsetRelative: 0
hOffset: 0
dirOffsetRandom:180
dirSpeed: 1
scaleFrom: 0.4
scaleTo: 0.01
fadeInTime: 2
fadeOut: true
attachedToUnit: false
image: ROOT:data\images\chargesparks.png
drawUnderUnits: true
alpha:1

[effect_YouMad]
spawnChance: 0.3


xOffsetRelative:0
yOffsetRelative:0

priority:critical
image:YouMad.png
life: 500
fadeOut: true
dirOffsetRandom: 180
attachedToUnit: false
color: #ffffff
fadeInTime: 1
scaleFrom: 0.45
scaleTo: 0.45
alpha: 2
createWhenOverLiquid: false
drawUnderUnits: true
[effect_FlakBoom]
dirOffsetRandom:180
alsoPlaySound:ROOT:data\soundFx\impact_FlakBoom.ogg:0.5
priority:high

fadeInTime: 3
fadeOut: true

attachedToUnit: false

scaleFrom: 0.4
scaleTo: 0.4

yOffsetRelative: 5


image:ROOT:data\images\FlakBoom.png
total_frames: 11
animateFrameStart: 0
animateFrameEnd: 10
animateFramePingPong: false
animateFrameSpeed: 0.35

alpha:1
[effect_trail]
life: 30
priority:verylow
image: ROOT:data\images\torpTrail.png
attachedToUnit: false
drawUnderUnits: false
alpha:0.4
fadeOut: true
scaleFrom: 0.9
scaleTo: 0.2
atmospheric: true
xOffsetRelative:0
yOffsetRelative:-9

#color: #00f4ff
teamColorRatio: 0
[effect_trail2]
life: 30
priority:verylow
image: ROOT:data\images\torpTrail.png
color: #00f4ff
attachedToUnit: false
drawUnderUnits: false
alpha:0.4
fadeOut: true
scaleFrom: 0.5
scaleTo: 0.1
atmospheric: true
xOffsetRelative:0
yOffsetRelative:0

#color: #00f4ff
teamColorRatio: 0

[effect_sparks]

spawnChance: 0.6

attachedToUnit: false
life: 50
physics: true
physicsGravity: 0.8
xOffsetRelative: 0
yOffsetRelative: -3
xSpeedRelativeRandom: 0.5
ySpeedRelativeRandom: 0.5
hSpeed: 1

ySpeedRelative:1

dirSpeedRandom: 5

fadeInTime: 10

scaleFrom: 0.3
scaleTo: 0.1

image: ROOT:data\images\spark.png
priority: verylow

[effect_verySmallFlameII]
dirOffsetRandom:180

priority:veryhigh

fadeInTime: 3
fadeOut: true

attachedToUnit: false

scaleFrom: 0.23
scaleTo: 0.23

yOffsetRelative: 5


image:ROOT:data\images\plasmaRepeater_explosion.png
total_frames: 14
animateFrameStart: 0
animateFrameEnd: 13
animateFramePingPong: false
animateFrameSpeed: 0.35

alpha:1
[effect_muzzleFlameS]

priority: high

image: ROOT:data\images\flame_small.png


total_frames: 4
animateFrameStart: 0
animateFrameEnd: 3
animateFramePingPong: true
animateFrameSpeed: 0.8

life: 11
fadeOut: true
attachedToUnit: true
color: #FFFFFF

scaleFrom: 0.7
scaleTo: 1.1
alpha: 1.6
drawUnderUnits:false
liveAfterAttachedDies: false

physics: false
hSpeed: 0.01
[effect_smoke]
#priority:high

frameIndex: 0
stripIndex: smoke_black

spawnChance: 0.4

priority: verylow

createWhenZoomedOut: false

life: 90
fadeOut: true
attachedToUnit: false
#color: #fdc14d
color: #FFFFFF

fadeInTime:2
scaleFrom: 0.3
scaleTo: 0.6
alpha: 1
drawUnderUnits:false
liveAfterAttachedDies: false

hSpeed:0.2

dirOffsetRandom:180
xSpeedRelativeRandom: 0.4


atmospheric: true


[effect_WI]
alwayStartDirAtZero:true
attachedToUnit: false
#spawnChance: 0.5
life: 130
alpha: 0.7
scaleFrom:0.3
scaleTo:0.3
image: ROOT:data\icons\old_4.png
priority: high
drawUnderUnits:false
yOffsetRelative:5
xOffsetRelative:0
delayedStartTimer: 0
#hOffset: 20
hSpeed: 0.1
[effect_WII]
@copyFromSection: effect_WI
image: ROOT:data\icons\old_5.png
[effect_WIII]
@copyFromSection: effect_WI
image: ROOT:data\icons\old_6.png
[effect_WIV]
@copyFromSection: effect_WI
image: ROOT:data\icons\old_7.png

[effect_projectileFlashSmol]
alsoEmitEffects: CUSTOM:projectileGroundSmokeSmol*2, CUSTOM:projectileGroundSplashSmol*3, CUSTOM:projectileCraterSmol

priority:critical
showInFog: true

image: SHARED:light_50.png
life: 30
fadeOut: true
attachedToUnit: false
color: #FFDDA8
fadeInTime:2
scaleFrom: 1.5
scaleTo: 1
alpha: 1
drawUnderUnits:false
atmospheric: false
hOffset: 5
yOffsetAbsolute: -10

[effect_projectileCraterSmol]
priority:veryhigh

image: ROOT:data\images\crater.png
createWhenOverLiquid: false
life: 600
fadeOut: true
scaleFrom: 0.3
scaleTo: 0.3
alpha: 1.5
drawUnderUnits:true
dirOffsetRandom:180

[effect_projectileGroundSmokeSmol]
priority:veryhigh

stripIndex: effects
frameIndex: 0

createWhenOverLiquid: false
life: 240
fadeOut: true
attachedToUnit: false
color: #6D5448
fadeInTime:5
scaleFrom: 1
scaleTo: 3
alpha: 1.25
drawUnderUnits:false
hSpeed:0.2
hOffsetRandom:0.15
atmospheric:true

dirOffsetRandom:180

shadow:true
xOffsetRelativeRandom: 24
yOffsetRelativeRandom: 24
xSpeedAbsoluteRandom:0.2
ySpeedAbsoluteRandom:0.2
atmospheric: true

[effect_projectileGroundSplashSmol]
priority:high

image: ROOT:data\images\sub_bubbles.png
createWhenOverLiquid: false
life: 120
fadeOut: true
attachedToUnit: false
color: #463126
fadeInTime:5
scaleFrom: 1
scaleTo: 2
alpha: 1.25
drawUnderUnits:false
hSpeed: 0.75
hOffsetRandom: 0.75
atmospheric:true

dirOffsetRandom:180

physics: true
physicsGravity: 0.1
xOffsetRelativeRandom: 16
yOffsetRelativeRandom: 16
xSpeedAbsoluteRandom:0.2
ySpeedAbsoluteRandom:0.2
atmospheric: true


#=================Ion missile effect
[effect_trailMod2]
alsoEmitEffects: CUSTOM:trail2Mod2, CUSTOM:trail3Mod2
createWhenZoomedOut: false
priority:high
xOffsetRelative:0
yOffsetRelative:-10
image: ROOT:data\images\trail_A.png
life: 20
fadeOut: true
attachedToUnit: false
color: #48ffee
fadeInTime:1
scaleFrom: 1
scaleTo: 1
alpha: 0.8
drawUnderUnits:true
ySpeedRelative:0.2
[effect_trail2Mod2]
@copyFromSection: effect_trailMod2
alsoEmitEffects: NONE
yOffsetRelative:-5
[effect_trail3Mod2]
@copyFromSection: effect_trailMod2
alsoEmitEffects: NONE
yOffsetRelative:-10
[effect_BlueLight]
priority: veryhigh
spawnChance: 0.4
life: 11
fadeOut: true
image: ROOT:data\images\light_2.png
#ySpeedRelative: 1
alpha: 2
xOffsetRelativeRandom: 3
yOffsetRelativeRandom: 3
xSpeedRelativeRandom: 0.1
yOffsetRelative:-7
delayedStartTimer: 0
scaleFrom: 0.04
scaleTo: 0.04

[effect_Shooov]
priority: veryhigh
life: 130
scaleFrom:0
scaleTo:0
alsoPlaySound: ROOT:data\soundFx\weapon_MLaunch3.ogg: 0.1
[effect_ShooovTrail]
alsoEmitEffects: CUSTOM:ShooovTrail2
stripIndex: effects
frameIndex: 0
life: 120
fadeOut: true
attachedToUnit: false
color: #FFFFFF
fadeInTime:5
scaleFrom: 0.5
scaleTo: 2
alpha: 0.6
drawUnderUnits:false
ySpeedRelative:-0.5
atmospheric:true

dirOffsetRandom:180

shadow:true

xSpeedAbsoluteRandom: 0.2
ySpeedAbsoluteRandom: 0.2
[effect_ShooovTrail2]
@copyFromSection: effect_ShooovTrail
ySpeedRelative:-1
delayedStartTimer: 5
[effect_ShooovTrail3]
@copyFromSection: effect_ShooovTrail
life: 90
ySpeedRelative: -0.1
scaleFrom: 0.5
scaleTo: 3

[effect_areaShock]
alsoEmitEffects: CUSTOM:areaShock2,  CUSTOM:areaShock3
life: 10
priority: high
image: ROOT:data\images\blue_shockwave.png
fadeOut: true
attachedToUnit: FALSE
#color: #00ffff
scaleTo: 0.5
scaleFrom: 0.1
alpha:2
[effect_areaShock2]
alsoEmitEffects: NONE
@copyFromSection: effect_areaShock
image: ROOT:data\images\shield_mid_3.png
life: 20
scaleTo: 1.5
scaleFrom: 1
delayedStartTimer: 5
alpha:0.4
[effect_areaShock3]
@copyFromSection: effect_areaShock
image: ROOT:data\images\shield_mid_3.png
life: 10
scaleTo: 2
scaleFrom: 0.1
alpha:0.3

[effect_BoomIon]
image:ROOT:data\images\blue_explosion.png
scaleTo: 2
scaleFrom: 1
total_frames: 14
animateFrameStart: 0
animateFrameEnd: 13
animateFramePingPong: false
animateFrameSpeed: 0.35
#=================Ion missile effect
[effect_HbOmbTrail]

priority:critical

image: ROOT:data\null.png
imageShadow: SHADOW:ROOT:data\images\projectile_5.png
shadow: true

life: 5
attachedToUnit: false

fadeInTime: 1
scaleFrom: 0.75
scaleTo: 0.75
alpha: 1
drawUnderUnits:false
liveAfterAttachedDies: false

[movement]
movementType: AIR
#moveSpeed: 1.2
moveSpeed: 1.4
moveAccelerationSpeed: 0.02
moveDecelerationSpeed: 0

maxTurnSpeed: 3
turnAcceleration: 0.05

moveSlidingMode :false
moveIgnoringBody:false
moveSlidingDir:  30

reverseSpeedPercentage:0
slowDeathFall: true
slowDeathFallSmoke: true