#Shokaku
#Carrier command

#TAG used=
# 0=converting
# 1=build
# 4, 5, 6, 7 = weapon sets

[core]
#Drone Price
#@global shokaku: I



copyFrom: _weapun.template


#-----------------transport
maxTransportingUnits: 2
transportUnitsHealBy: 0.5
transportUnitsUnloadDelayBetweenEachUnit:20

transportUnitsCanUnloadUnits: true
transportUnitsAddUnloadOption: false

transportUnitsRequireTag: shokakuDrone_${shokaku}
transportUnitsRequireMovementType: air
transportUnitsKeepBuiltUnits: true

exit_x: -11.5
exit_y: -17
exit_dirOffset: 0
exit_heightOffset:4
exit_moveAwayAmount: 250
#-----------------transport

#----------------------Ai
[hiddenAction_Ai_weapontypu]
autoTrigger: if not self.hasFlag(id=15) and self.hasParent(withTag='ReadyGoMain')
requireConditional: if self.isControlledByAI()

addResources: setFlag=15

[hiddenAction_Ai_weapontypuOof]
autoTrigger: if self.hasFlag(id=15) and not self.hasParent(withTag='ReadyGoMain')
requireConditional: if self.isControlledByAI()

addResources: unsetFlag=15
[hiddenAction_ai_timerReset]
requireConditional: if self.isControlledByAI() 
resetCustomTimer: true
#----------------------Ai
[hiddenAction_unload]
attachments_unload: true
#startUnloadingTransport:true

buildSpeed: 1s
alsoQueueAction: unloadII
[hiddenAction_unloadII]
@copyFromSection: hiddenAction_unload
buildSpeed: 1s

alsoQueueAction: NONE
temporarilyAddTags: clearAttackMove
resetCustomTimer: true
[hiddenAction_clearAttackMoveToParent]
autoTrigger: if self.customTimer(laterThanSeconds=1) and self.tags(includes='clearAttackMove')
temporarilyRemoveTags: clearAttackMove

#=========================Selector
[hiddenAction_createdSelector]
autoTriggerOnEvent: created
addResources: setFlag=4

temporarilyAddTags: weaponT_1
temporarilyRemoveTags: weaponT_2, weaponT_3, weaponT_4

#-----reset tag
[hiddenAction_resetTempTag_I]
autoTrigger: if self.hasFlag(id=4) and not self.tags(includes='weaponT_1')
temporarilyAddTags: weaponT_1
temporarilyRemoveTags: weaponT_2, weaponT_3, weaponT_4
[hiddenAction_resetTempTag_II]
autoTrigger: if self.hasFlag(id=5) and not self.tags(includes='weaponT_2')
temporarilyAddTags: weaponT_2
temporarilyRemoveTags: weaponT_1, weaponT_3, weaponT_4
[hiddenAction_resetTempTag_III]
autoTrigger: if self.hasFlag(id=6) and not self.tags(includes='weaponT_3')
temporarilyAddTags: weaponT_3
temporarilyRemoveTags: weaponT_2, weaponT_1, weaponT_4
[hiddenAction_resetTempTag_IV]
autoTrigger: if self.hasFlag(id=7) and not self.tags(includes='weaponT_4')
temporarilyAddTags: weaponT_4
temporarilyRemoveTags: weaponT_2, weaponT_3, weaponT_1

[action_press1]
@define pr: 4
autoTrigger: if not self.isControlledByAI() and self.hasParent(withTag='weaponT_${pr-3}') and not self.hasFlag(id=${pr})
ai_isDisabled: if not self.hasFlag(id=15)
ai_isHighPriority: if self.hasFlag(id=15) and numberOfUnitsInEnemyTeam(greaterThan=0, withinRange=1000) and self.transportingCount(greaterThan=1) and self.customTimer(laterThanSeconds=5)
isVisible: if self.isControlledByAI()
#text: Turret ${pr}
buildSpeed:0
displayType: action
pos:0.1
canPlayerCancel: false
allowMultipleInQueue: false
#extraLagHidingInUI: true
highPriorityQueue: true

#=====================================================================
text: Weapon Set I
description: - This weapon loadout used by T2 'Leyte Class'\n Slightly stronger, less damage to hull, Best against structure\nChance to deal critical damage\n-=Weapons=-\n[AA Unguided Rocket]: Target: Air, Dmg: ${(AArocket+(AArocket/2))}, AoE\n[High Explosive Bomb]: Target: Land, dmg:${bombLand}, AoE\n Drop range: ${range_I}, Ammo: 4-8\n120% vs structure, 50% vs hull, 110% vs shield, 5 PEN\nCrit: +120% vs structure, -50% vs hull\n Changing weapon set reduce energy by ${energyP}

#=====================================================================

addResources: unsetFlag=4-7, setFlag=${pr}
isGuiBlinking: if self.hasFlag(id=${pr})

iconImage: ROOT:data\icons\ws_1.png
temporarilyAddTags: weaponT_1
temporarilyRemoveTags: weaponT_2, weaponT_3, weaponT_4

alsoTriggerAction: ai_timerReset

showQuickWarLogToPlayer: Weapon I set! | AA Unguided Rocket/High Explosive Bomb

#--------------------------------------------
#Bruh
#iconExtraImage: ROOT:data\icons\select.png
#iconExtraColor: #64FFFFFF
#iconExtraIsVisible: if self.hasFlag(id=${pr})
#--------------------------------------------
[action_press2]
@define pr: 5
@copyFromSection: action_press1
text: Weapon Set II
description: - This weapon loadout used by T4 'Okhotnik Class'\n Slightly reduce damage, Best against Hull, Armored and Agile units\nMissile target acquisition time: 2s\n-=Weapons=-\n[AAM Magic Missile]: Target: Air, Dmg: ${ionMAA_Dmg}, Single Target\n[ASM Magic Missile]: Target: Land, Dmg: ${ionM_Dmg}, AoE\n Drop range: ${range_II}, Ammo: 4-8\n 120% vs hull, 50% vs structure, 25 PEN\nNote: If missile too close it only deal 100 dmg\n Changing weapon set reduce energy by ${energyP}

temporarilyAddTags: weaponT_2
temporarilyRemoveTags: weaponT_1, weaponT_3, weaponT_4

iconImage: ROOT:data\icons\ws_2.png

showQuickWarLogToPlayer: Weapon II set! | AAM/ASM Magic Missile
[action_press3]
@define pr: 6
@copyFromSection: action_press1
text: Weapon Set III
description: - This bomb base from 'Rama' ion core and 'Type 3' ion cluster missile\n Slightly reduce damage, Bad against structure, Ignore shield \n Upon impact it has unusual explosion patern\n-=Weapon=-\n [Ion Cluster Bomb]: Target: Land, Dmg: ${ionBomb} for each line, small AoE\n Drop range: ${range_III}, Ammo: 1-2\n Ignore Shield, 40% vs structure, 100% vs hull\nBetter Rearm time\n Changing weapon set reduce energy by ${energyP}

temporarilyAddTags: weaponT_3
temporarilyRemoveTags: weaponT_1, weaponT_2, weaponT_4

iconImage: ROOT:data\icons\ws_3.png

showQuickWarLogToPlayer: Weapon III set! | Gunship Mode
[action_press4]
@define pr: 7
@copyFromSection: action_press1

isLocked: if not numberOfUnitsInTeam(greaterThan=1, withTag='PDEnergyFull_${shokaku}')
isLockedMessage: Require Full energy drone

ai_isDisabled: true
ai_isHighPriority: false

text: Weapon Set IV
description: - New type of heavy bomb primarily use for demolition\n Extremely stronk against structure, Very SLOW rearm time \n Bomb detonation delay: ${exDelay}s\n-=Weapon=-\n [Meteor Bomb]: Target: Land\Sub, Dmg: ${meteor_Dmg}, AoE: ${meteor_AoE}\n Drop range: ${range_IV}, Ammo: 1-2\n 200% vs structure, 100% vs hull\shield\nBetter self regen while phasing\n Changing weapon set reduce energy by ${meteor_EnergyP}

temporarilyAddTags: weaponT_4
temporarilyRemoveTags: weaponT_1, weaponT_2, weaponT_3


iconImage: ROOT:data\icons\meteor.png

showQuickWarLogToPlayer: Weapon IV set! | Meteor Bomb
#====================Starting Drone
[hiddenAction_startingDrones]
autoTrigger: if not self.hasFlag(id=1) and self.tags(includes='Shōkaku_${shokaku}')
addResources: setFlag=1, shokakuDrone_${shokaku}=-2
alsoQueueAction: droneBuild
[action_droneBuild]
text: Drone ${shokaku}
description: -Uncontrollable drone\n-Deployed via Drone Carrier\n-Can attack ground and air.
price: ${Dprice}
buildSpeed: 3s
isVisible: false
isActive: false

#whenBuilding_playAnimation: buildA

isLocked: if not self.resource(greaterThan=0, type='shokakuDrone_${shokaku}')
isLockedMessage: Maximum amount already being built.

produceUnits: phaseBomber_${shokaku}*2
canPlayerCancel: false
#iconImage: drone.png
unitShownInUI: phaseBomber_${shokaku}

addResources: shokakuDrone_${shokaku}=2
pos: 1
#====================Starting Drone END
[hiddenAction_droneBuildReplacement]
autoTrigger: if self.hasResources(shokakuDrone_${shokaku}=1) and self.hasFlag(id=1) and not self.hasFlag(id=2) and not self.hasFlag(id=3) and not self.queueSize(greaterThan=0) and not numberOfUnitsInTeam(greaterThan=1, withTag='shokakuDrone_${shokaku}')
requireConditional: if self.hasResources(credits=${Dprice})
addResources: setFlag=2, credits=-${Dprice}, shokakuDrone_${shokaku}=-1
alsoQueueAction: droneBuildRRRR
#playAnimation: buildB
[action_droneBuildRRRR]
buildSpeed: ${BDspeed}s
isVisible: false
isActive: false
produceUnits: phaseBomber_${shokaku}
addResources: shokakuDrone_${shokaku}=1
alsoQueueAction: droneBuildRRRREnd
#whenBuilding_playAnimation: buildB
[hiddenAction_droneBuildRRRREnd]
buildSpeed: 1s
addResources: unsetFlag=2
#=================================Autobuild
[action_rebuild]
text: Auto Rebuild
buildSpeed: 0s
description: [Rebuilds lost drones automatically]\nPrice:${Dprice}, Build time: ${BDspeed}s\n
isGuiBlinking: if not self.hasFlag(id=3)

#iconImage: droneicon.png
unitShownInUI: phaseBomber_${shokaku}
descriptionAddFromUnit: phaseBomber_${shokaku}
#descriptionAddUnitStats: phaseBomber_${shokaku}

highPriorityQueue: true
isActive: true
isVisible: true
addResources: autoB=1, setFlag=3
alsoTriggerAction: unflag
pos: 1
[hiddenAction_unflag]
requireConditional: if self.hasFlag(id=3) and self.hasResources(autoB=2) 
addResources: unsetFlag=3, autoB=-2
[resource_autoB]
displayName: Oof
#=================================Autobuild END
[hiddenAction_ReturnFromParent]
autoTrigger: if self.hasParent(withTag='return_Main') and not self.hasFlag(id=10)
requireConditional: if not self.transportingCount(greaterThan=1) 
addResources: setFlag=10
alsoQueueAction: Return
[action_Return]
isActive: true
isGuiBlinking: if self.transportingCount(lessThan=1)
#isVisible: if self.transportingCount(lessThan=4)
isVisible: false
buildSpeed:0
displayType: action
pos:0.3
canPlayerCancel: false
allowMultipleInQueue: false
highPriorityQueue: true

text: Return

isLocked: if self.transportingCount(greaterThan=1)
isLockedMessage: Cannot and dont press it

iconImage: ROOT:data\icons\l_Return.png
temporarilyAddTags: PDreturn_${shokaku}
resetCustomTimer: true 
[action_goodbye]
isActive: true
#isGuiBlinking: if self.transportingCount(lessThan=4)

isLocked: if self.transportingCount(greaterThan=1)
isLockedMessage: Nope

isVisible: true
buildSpeed:0
displayType: infoOnly
pos:7
canPlayerCancel: false
allowMultipleInQueue: false
highPriorityQueue: true

text: Detroy Drone
description: Press it, if the drone got stuck\nRefund: ${Dprice/2}

iconImage: ROOT:data\icons\warning.png
#alsoTriggerAction: GuardOofA, ATTACKMOVOofA   
temporarilyAddTags: deleteDrone_${shokaku}
#alsoQueueAction: goodbyeB
resetCustomTimer: true
[hiddenAction_goodbyeB]
autoTrigger: if self.tags(includes='deleteDrone_${shokaku}') and self.customTimer(laterThanSeconds=1)
temporarilyRemoveTags: deleteDrone_${shokaku}

[hiddenAction_ReturnOof]
autoTrigger: if self.tags(includes='PDreturn_${shokaku}') and self.customTimer(laterThanSeconds=3)
temporarilyRemoveTags: PDreturn_${shokaku}
addResources: unsetFlag=10
#-----------------Attachment weapon
[attachment_Topweapon]
x: 0
y: 0
#isVisible:false
idleDir:0
lockRotation:false
onCreateSpawnUnitOf: ShokakoSec
canBeAttackedAndDamaged: false
isUnselectable: true
#lockLegMovement:false
canAttack:true
keepAliveWhenParentDies:false
prioritizeParentsMainTarget:true
[attachment_TopweaponB]
x: 0
y: 0
#isVisible:false

idleDir:0
lockRotation:false
onCreateSpawnUnitOf: ShokakoPrimary
canBeAttackedAndDamaged: false
addTransportedUnits: false
isUnselectable: true
#lockLegMovement:false
setDrawLayerOnTop: true
canAttack:true
keepAliveWhenParentDies:false
prioritizeParentsMainTarget:true
#-----------------Attachment Drone
[attachment_drone_I]
x:-12.2
y:3
height:0
isVisible:true
keepAliveWhenParentDies:false
setDrawLayerOnTop:true
addTransportedUnits:true
canBeAttackedAndDamaged:true
isUnselectable: true
canAttack: true
idleDir: 0
deattachIfWantingToMove: false
prioritizeParentsMainTarget:true
alwaysAllowedToAttackParentsMainTarget: true
lockRotation:true
lockLegMovement:true
[attachment_drone_II]
@copyFromSection: attachment_drone_I
#y:-37
y:-30


#-----------------Attachment

[arm_1]
#Light MG
@define ffff: 4
x:0
y:0
#hidden: if not self.hasFlag(id=${ffff})
hidden: if not self.tags(includes='weaponT_${ffff-3}')
image_end:wt_${ffff-3}.png
image_end_teamColors: true
drawOverBody: true
[arm_2]
#HE Bomb
@define ffff: 5
@copyFromSection: arm_1
[arm_3]
#Micro Missile
@define ffff: 6
@copyFromSection: arm_1
[arm_4]
#Unguided Rocket
@define ffff: 7
@copyFromSection: arm_1