
#_weapun.template
[core]
#@global unitPrice_I: 700
@global unitBTime_I: 3.3
#------------------
#@global unitPrice_II: 1300
@global unitBTime_II: 15
#------------------
#@global unitPrice_III: 2750
@global unitBTime_III: 12.8
#------------------
#@global unitPrice_IV: 4000
@global unitBTime_IV: 42.8
#------------------