
#_weapun.template
[core]
#Mech price
@global price: 250000, uranium=14000
#Mech mode range
@global range: 350
#Gunship mode range
@global rangeAir: 250
#Rail kannun range
@global railGRange: 600
#-----------------------========> Ability <========-----------------------
#Burn Drive Cooldown
@global BDrivecooldown: 60
#Railgun Cooldown
@global RailGuncooldown: 35

#====Transform Cooldown
#Mech Mode
@global MechModeC: 15
#Gunship Mode
@global GunshipModeC: 15
#Kannun Mode
@global KannunModeC: 15
#skill temporary lock after transforming
@global templock: 3

#-----------------------========> Mech mode <========-----------------------
#--------------------Primary weapon
#Arm Kannun
@global KAreaDamge: 348
@global KAoE: 100
#ADV - use only for cosmetic split projectile.... but added dmg anyway 
@global ADVAreaDanage: 60
@global ADVAoE: 50

#Daemon HEAD
@global beamHead: 30
#--------------------Secondary weapon (MagicMissile)
#Advance Magic Missile
#      |-Deploys 4x MM's 
#Note: -magic missile main and secondary share damage ... however secondary payload has bounus damage
#      -Secondary payload can damage air and subs
#${MMAreaDamge*0.5}, 50% aoe penalty

#magic missile>              300*0.5 = 150    >   MMAreaDamge*0.5
#secondary payload>    (300*0.5)+100 = 250    >   (MMAreaDamge*0.5)+MMSecPayBonusDamge
#                      ------------------
#Total damage:                         400
#-------------------------------------------
@global MMAreaDamge: 300
@global MMAoE: 150
#Magic missile secondary payload expolotion delay
@global MMExDelay: 1.2
@global MMSecPayBonusDamge: 100

#-----------------------========> Gunship Mode <========-----------------------
#--------------------Primary weapon
@global KAreaDamgeGM: 200
@global KAoEGM: 75
#auto cannons
@global KSecondary: 125

#--------------------Secondary weapon (IonFlak)
@global ionFlahL: 330

@global damageDirect: 30
@global damageBlast: 10

@global ammo: 800
@global percentage: 50
@global subPr: 20
@global reloadG: 7
#-----------------------========> Railgun Mode <========----------------------- Railgun , Rerugan
#Rail cost
@global RailPrice: uranium=500
#Rail AoE
@global RailAoE: 40
#hull damage multiplier
@global RailHDM: 1.5
#building damage multiplier
@global RailBDM: 1
#ignore shield..     NOTE: 0 = 100% ignore shield
@global RailSDM: 0.5
#ignor armor, PEN
@global RailPEN: 200 

#Warmup
@global Railwarmup: 3

#-----Primary projectile =
#cannot damage unit with tags: exp
@global Raildamage_A: 1250
#can ONLY damage unit with tags: exp ........ NOTE: doesn't get any damage multiplier
@global Raildamage_B: 8000

#-----------------------========> END <========-----------------------
#Extras
radius: 44
displayRadius: 54
shieldDisplayOnlyDeflection: true
shieldDeflectionDisplayRate: 2
shieldRenderRadius: 0
#--------------------Movement Speed
#Mech Mode
@global MechMove: 0.4
#Gunship Mode
@global GunShMove: 0.7
#Kannon mode
@global KannMove: 0.15
